<div class="row">
  <div class="col-xs-12">
    <img src="" alt="" class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>商品名称</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group">
      <button
        type="button"
        class="btn btn-primary dropdown-toggle">
        管理商品 <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">购物清单</a></li>
        <li><a href="#">编辑商品</a></li>
        <li><a href="#">删除商品</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    商品详细说明
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    商品配方1
  </div>
</div>
